.off {
  color: var(--color-text-invert);
  background: var(--color-off);
  &:hover {
    background: var(--color-off-hover);
  }
  &:active {
    background: var(--color-off-active);
  }
}

.on {
  color: var(--color-text-invert);
  background: var(--color-on);
  &:hover {
    background: var(--color-on-hover);
  }
  &:active {
    background: var(--color-on-active);
  }
}

.noPower {
  color: var(--color-text-invert);
  background: var(--color-warn);
  &:hover {
    background: var(--color-warn-hover);
  }
  &:active {
    background: var(--color-warn-active);
  }
}

.waiting {
  background: var(--color-waiting);
  cursor: progress;
}
