.button {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  box-shadow: var(--shadow-md);
  transition:
    background-color 150ms ease,
    box-shadow 150ms ease;

  background: var(--color-button);
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
}

.button:hover {
  background: var(--color-button-hover);
}
.button:active {
  background: var(--color-button-active);
}
.button:disabled {
  opacity: 0.5;
}

.round {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.25rem;
  border-radius: 9999px;
}

.round > svg {
  margin: 0.25rem;
  margin-top: calc(0.25rem - 1px);
  height: 100%;
  width: 100%;
}
